{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>All posts</h1>
<hr>
<h2>NEW POST</h2>
<br><br>
<form action="/" method="POST">
    
    <input id='title' class="form-control form-control-lg" name='title' placeholder="Add blog post title">
    <br><br>
    <input id='author' class="form-control form-control-lg" name='author' placeholder="Author name">
    <br><br>

    <textarea id='content' rows='5' class="form-control form-control-lg" name='content' placeholder="Add blog post content"></textarea>
    <br><br>
    <input type="submit" value="Create Post!" class="btn btn-primary">
</form>
<hr>
{% for post in posts %}
    <h2>{{post.title}}</h2>
    <h4>By: {{post.author}}</h4>
    <h4>At: {{post.date_posted}}</h4>
    <h3>{{post.content}}</h3>
    <a href="/delete/{{post.id}}">Delete</a>
    <a href="/edit/{{post.id}}">Edit</a>
    <hr>

{% endfor %}

{% endblock %}