{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>All posts</h1>
<hr>
<form action="/posts" method="POST">
    <label for="title">Enter post title</label>
    <input id='title' name='title' placeholder="Add blog post title">
    <br><br>
    <label for="content">Enter post content</label>
    <input id='content' name='content' placeholder="Add blog post content">
    <br><br>
    <label for="author">Enter Author name</label>
    <input id='author' name='author' placeholder="Author name">
    <br><br>
    <input type="submit">
</form>
<hr>
{% for post in posts %}
    <h2>{{post.title}}</h2>
    <h4>By: {{post.author}}</h4>
    <h4>At: {{post.date_posted}}</h4>
    <h3>{{post.content}}</h3>
    <a href="/posts/delete/{{post.id}}">Delete</a>
    <hr>

{% endfor %}

{% endblock %}