{% extends 'base.html' %}
<head>
    
    {% block head %}
    <title>Home</title>
    {% endblock %}
</head>

{% block body %}
<h1>Chennai Chronicles</h1>
<hr>

<br>

<a class="btn btn-primary" data-toggle="collapse" href="#newPost" role="button" aria-expanded="false" aria-controls="collapseExample">
    <h2>NEW POST +</h2>
</a>

<div class="collapse" id="newPost">
    <form action="/" method="POST">
        <br><br>
        <input id='title' class="form-control form-control-lg" name='title' placeholder="Add blog post title">
        <br><br>
        <input id='author' class="form-control form-control-lg" name='author' placeholder="Author name">
        <br><br>
    
        <textarea id='content' rows='5' class="form-control form-control-lg" name='content' placeholder="Add blog post content"></textarea>
        <br><br>
        <input type="submit" value="Create Post!" class="btn btn-primary">
    </form>
</div>

<hr>
<h1>All posts</h1>
<hr>
<div class="b" style="height: 60vh;">
    <div class="cardList" style="height: 60vh;overflow: auto;">
        {% for post in posts %}
            <div class="card" style="width: 100%;">
                <h5 class="card-header">{{post.title}}</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">By : {{post.author}}</h6>
                    <h8 class="card-subtitle mb-2 text-muted">At: {{post.date_posted}}</h8>
                    <br><br>
                    <p class="card-text">{{post.content}}</p>
                    <a href="/delete/{{post.id}}" class="card-link">Delete</a>
                    <a href="/edit/{{post.id}}" class="card-link">Edit</a>
                </div>
            </div>
            <hr>

        {% endfor %}
    </div>
</div>


{% endblock %}